*{
    margin: 0;
}
body img{
    height: 1000px;
    width: 100%;
    position: relative;
}
.background{
    background-color: #DFCCFB;
    position: absolute;
    width: 60%;
    height: 800px;
    top: 20%;
    left: 20%;
    box-shadow:  0px 5px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
   
#prev{
    color: white;
    background-color: #7469b6;
    border-radius: 10px;
    font-size: 17px;
    width: 400%;
    height: 50px;
}
.text{
    display: flex;
    justify-content: space-around;
    gap: 10%;
}
.text img{
    width: 125%;
    height: 70px;
}
.text p{
    font-size: 28px;
    letter-spacing: 1.2px;
    font-weight: bold;
    background-color: #fcfbf3;
    padding:5%;
    box-shadow: 4px 8px 13px black;
}
.text p span{
    color: #65afca;
}
